{% extends "base.html" %}

{% block content %}
    <h1>Admin Dashboard</h1>
    {%if message%}
    <h2>{{ message }}</h2>
    {%endif%}
    <button type="button" onclick="location.href='/admin/createUser'">Create User</button>
    <button type="button" onclick="location.href='/admin/BlockUser'">Block User</button>
    <button type="button" onclick="location.href='/admin/DeleteUser'"> Delete User</button>
    <button type="button" onclick="location.href='/admin/sendEmail'">send Collective email</button>
    <button type="button" onclick="location.href='/admin/RegisterdUsers'"> Registered users</button>
    <button type="button" onclick="location.href='/admin/BlockedUser'">Blocked User</button>
    <button type="button" onclick="location.href='/admin/updateInfo'">update info</button>
    
    
{% endblock %}
